# Common
prefix = "system"

# Route53
my_domain = "example.com"

# EC2
web_instance_class = "t2.micro"

# RDS
db_instance_class = "db.t3.medium"
db_database_name = "my_app"
db_root_password = "root_secret"
